{% assign slider_columns_desktop_int = section.settings.slider_columns_desktop | times: 1 %}
{% assign slide_width = section.settings.slide_width | times: 1 %}

{% if section.settings.container_width %}
    {%- assign containerWidth = 100 | times: slide_width -%}
{% else %}
    {%- assign containerWidth = slider_columns_desktop_int | times: slide_width -%}
{% endif %}

<div class="page-width-desktop slider-container">
    <div class="swiper swiper-container slider-columns-{{ section.settings.slider_columns_desktop }}
        {% if section.settings.slide_card %} slides-card {% endif %}
        slide-image-{{ section.settings.image_width }}
      "
         style="max-width: {{ containerWidth }}px"
         data-columns="{{ section.settings.slider_columns_desktop }}"
         data-slide-width="{{ slide_width }}"
    >
        <div class="swiper-wrapper">
            {%- for block in section.blocks -%}
              {% assign title = block.page.title %}
              {% if block.title %}
                {% assign title = block.title %}
              {% endif %}

              {% assign buttonUrl = block.page.url %}
              {% if buttonUrl.button_link %}
                {% assign buttonUrl = block.button_link %}
              {% endif %}

                <div class="swiper-slide">
                    <div class="swiper-slide--inner">
                        <div class="swiper-slide--image">
                            <img src="{{ block.image_page | img_url: 'original' }}" alt="alt">
                        </div>
                        <div class="swiper-slide--content slider-content">
                            {% if section.settings.show_title %}
                                <p class="slider-content--title">{{ title }}</p>
                            {% endif %}

                            {% if section.settings.show_button %}
                                <div>
                                    <a href="" class="button button--primary"></a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <button class="swiper-arrow swiper-button-next"></button>
    <button class="swiper-arrow swiper-button-prev"></button>
</div>

{% schema %}
{
  "name": "Swiper page slider",
  "class": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_title",
      "default": true,
      "label": "Show title"
    },
    {
      "type": "checkbox",
      "id": "show_button",
      "default": true,
      "label": "Show button"
    },
    {
      "type": "select",
      "id": "image_width",
      "label": "Full image width",
      "options": [
        {
          "value": "small",
          "label": "small"
        },
        {
          "value": "normal",
          "label": "normal"
        },
        {
          "value": "full",
          "label": "full"
        }
      ],
      "default": "full"
    },
    {
      "type": "checkbox",
      "id": "slide_card",
      "default": true,
      "label": "Display as card (with background)"
    },
    {
      "type": "checkbox",
      "id": "container_width",
      "default": false,
      "label": "Container width"
    },
    {
      "type": "select",
      "id": "slider_align",
      "options": [
        {
          "value": "align_left",
          "label": "left"
        },
        {
          "value": "align_middle",
          "label": "middle"
        }
      ],
      "default": "align_middle",
      "label": "Align container"
    },
    {
      "type": "select",
      "id": "slide_width",
      "options": [
        {
          "value": "240",
          "label": "small"
        },
        {
          "value": "310",
          "label": "normal"
        },
        {
          "value": "400",
          "label": "large"
        }
      ],
      "default": "310",
      "label": "Size slide"
    }
  ],
  "blocks": [
    {
      "type": "page",
      "name": "Slide",
      "limit": 10,
      "settings": [
        {
          "type": "page",
          "id": "page",
          "label": "Select page 1"
        },
        {
          "type": "image_picker",
          "id": "image_page",
          "label": "Select image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Custom title (Instead of a page title)"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Custom url"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Swiper page slider",
      "blocks": [
        {
          "type": "page"
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}

{% endstylesheet %}

{% javascript %}

{% endjavascript %}