{% assign slider_columns_desktop_int = section.settings.slider_columns_desktop | times: 1 %}
{% assign slide_width = section.settings.slide_width | times: 1 %}

{% if section.settings.container_width %}
  {%- assign containerWidth = 100 | times: slide_width -%}
{% else %}
  {%- assign containerWidth = slider_columns_desktop_int | times: slide_width -%}
{% endif %}


<div class="page-width-desktop slider-container">
  <div 
      class="swiper swiper-container slider-columns-{{ section.settings.slider_columns_desktop }}
            {% if section.settings.slide_card %} slides-card {% endif %}
            slide-image-{{ section.settings.image_width }}
      "
      style="max-width: {{ containerWidth }}px"
      data-columns="{{ section.settings.slider_columns_desktop }}"
      data-slide-width="{{ slide_width }}"
    >
    <div  class="swiper-wrapper">
      {% for product in collections [section.settings.collections].products %}
        <div class="swiper-slide">
          <div class="swiper-slide--inner">
              <div class="swiper-slide--image">
                  <img src="{{ product.featured_image | img_url: 'original' }}" alt="alt">
              </div>
              <div class="swiper-slide--content slider-content">
                {% if section.settings.is_item_title %}
                  <p class="slider-content--title">{{ product.title }}</p>
                {% endif %}
        
                {% if section.settings.is_item_description %}
                  <p class="slider-content--description">
                    {{ product.description }}
                  </p>
                {% endif %}
              </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
      <button class="swiper-arrow swiper-button-next"></button>
      <button class="swiper-arrow swiper-button-prev"></button>
</div>

{% schema %}
{
  "name": "Swiper page slider",
  "settings": [
    {
      "type": "page",
      "id": "pages",
      "label": "Select pages"
    },
    {
      "type": "checkbox",
      "id": "is_item_title",
      "default": true,
      "label": "Show title page"
    },
    {
      "type": "checkbox",
      "id": "is_item_description",
      "default": false,
      "label": "Show description page"
    },
    {
      "type": "select",
      "id": "image_width",
      "label": "Full image width",
      "options": [
        {
          "value": "full",
          "label": "full"
        },
        {
          "value": "small_padding",
          "label": "small padding"
        },
        {
          "value": "normal_padding",
          "label": "normal padding"
        }
      ],
      "default": "full"
    },
    {
      "type": "checkbox",
      "id": "slide_card",
      "default": true,
      "label": "Display as card (with background)"
    },
    {
      "type": "checkbox",
      "id": "container_width",
      "default": false,
      "label": "Container width"
    },
    {
      "type": "select",
      "id": "slider_align",
      "options": [
        {
          "value": "align_left",
          "label": "left"
        },
        {
          "value": "align_middle",
          "label": "middle"
        }
      ],
      "default": "align_middle",
      "label": "Align container"
    },
    {
      "type": "select",
      "id": "slide_width",
      "options": [
        {
          "value": "240",
          "label": "small"
        },
        {
          "value": "310",
          "label": "normal"
        },
        {
          "value": "400",
          "label": "large"
        }
      ],
      "default": "310",
      "label": "Size slide"
    }
  ],
  "presets": [
    {
      "name": "Swiper slider",
      "category": "Collections"
    }
  ]
}
{% endschema %}

{% stylesheet %}
  .container {
    max-width: var(--page-width);
    margin-inline: auto;
  }
  .page-width-desktop {
  
  }
  .slick-slider {
    display: flex;
  }
{% endstylesheet %}

{% javascript %}
  
{% endjavascript %}